---
import Layout from "../../layouts/Layout.astro";
import RoomClient from "../../components/RoomClient";

const { room } = Astro.params;

// TODO use auth instead
const url = new URL(Astro.url);
const wsUrl = `wss://${url.host}/api/room/hey/websocket`;
---

<Layout title="Welcome to Astro.">
	<main class="min-h-screen text-ctp-text">
		<div class="text-red-200">ok</div>
		<p>room: {room}</p>
		<RoomClient
		slide={room}
		wsUrl={wsUrl}
		client:only="solid-js"
		transition:name="navigation"
		/>
	</main
</Layout>

