@layer tokenami {
  :root {
    --_grid: .25rem;
    --border_solid: solid;
    --color_black: #1c202f;
    --color_purple-0: #504d72;
    --color_white: #f3f4f1;
    --font-size_huge: 100px;
    --size_full: 100%;
    --weight_bold: 900;
  }

  [style] {
    --font-size: initial;
    --font-weight: initial;
    --background-color: initial;
    --color: initial;
    --border: initial;
    --border-color: initial;
    --transform: initial;
    --padding-left: initial;
    --padding-right: initial;
    --align-self: initial;
    --margin-right: initial;
    --margin-left: initial;
    --top: initial;
    --left: initial;
    --right: initial;
    --bottom: initial;
    --position: initial;
    --height: initial;
    --display: initial;
    --justify-content: initial;
    --align-items: initial;
    --flex-direction: initial;
    --gap: initial;
  }

  @layer tk1 {
    [style] {
      color: var(--color, revert-layer);
      border: var(--border, revert-layer);
      transform: var(--transform, revert-layer);
      position: var(--position, revert-layer);
      height: var(--height, revert-layer);
      display: var(--display, revert-layer);
      gap: var(--gap, revert-layer);
    }
  }

  @layer tk2 {
    [style] {
      font-size: var(--font-size, revert-layer);
      font-weight: var(--font-weight, revert-layer);
      background-color: var(--background-color, revert-layer);
      border-color: var(--border-color, revert-layer);
      padding-left: var(--padding-left, revert-layer);
      padding-right: var(--padding-right, revert-layer);
      align-self: var(--align-self, revert-layer);
      margin-right: var(--margin-right, revert-layer);
      margin-left: var(--margin-left, revert-layer);
      top: var(--top, revert-layer);
      left: var(--left, revert-layer);
      right: var(--right, revert-layer);
      bottom: var(--bottom, revert-layer);
      justify-content: var(--justify-content, revert-layer);
      align-items: var(--align-items, revert-layer);
      flex-direction: var(--flex-direction, revert-layer);
    }
  }
}
